@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  margin: 0;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    /* border: 1px solid var(--border); */
  }
  body {
    background-color: var(--background-start-rgb);
    color: var(--foreground-rgb);
  }
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.ground-color {
  background-color: #0c124b;
}
.front-back-color {
  color: #dc8725;
}

.button-color {
  background-color: #c35042;
}


@keyframes pulseShadow {
  0%,
  100% {
    box-shadow: 0 0 15px 4px rgba(93, 76, 191, 0.4);
  }
  50% {
    box-shadow: 0 0 40px 6px rgba(94,74,211, 1);
  }
}

.pulse-shadow {
  animation: pulseShadow 2s infinite;
}